body{
    background-color: rgb(30, 37, 24);
}

h1{
    color: white;
    
}
.title{
    margin-left: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
}


.container{
    width: 70%;
    margin: 0 auto;
    background-color: #ffff;
}

nav{
    background-color: rgb(110, 16, 16);
}

ul{
    display: flex;
    justify-content:start;
    list-style-type: none ;
    
}

li{
    margin: 15px 15px;
}

a{
    text-decoration: none;
    color: #ffff;
    font-size: large;
    transition: color 0.3s;
}

a:hover{
    background-color: #582929;

}
form{
    padding: 10px;
}

.form-row {
  display: flex;             /* alleen op 1 rij per label/input */
  align-items: center;
  margin-bottom: 15px;
}

.form-row label {
  width: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-row input {
  flex: 1;
}

span{ 
    color: red !important;
    font-size: 0.9em; 
    margin-left: 10px;
}

.btn{
    margin-left: 335px;
    width: 10%;
}
